%heading {
  font-weight: 800;
}

@mixin heading-xl {
  @extend %heading;
  font-size: 5.6rem;
  line-height: 7rem;
}

@mixin heading-l {
  @extend %heading;
  font-size: 4rem;
  line-height: 5.1rem;
}

@mixin heading-m {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 4rem;
}

@mixin heading-s {
  @extend %heading;
  font-size: 2.4rem;
  line-height: 3rem;
}

@mixin heading-xs {
  @extend %heading;
  font-size: 2rem;
  line-height: 2.5rem;
}

@mixin body-m-bold {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}

@mixin body-m {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

@mixin body-s-bold {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 700;
}

@mixin body-s {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
}
