.navigation {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.4rem;

  &__logo {
    width: 11.4rem;

    @media screen and (max-width: $bp-tablet) {
      width: 8.9rem;
    }
  }
}
